page-chapter-detail {
    .ion-page{
        background:url('../../assets/imgs/bg_new1.png') !important;
        background-position: center top !important;
        background-size: cover !important;
    }

    .header{
        top:12%;
    }

    .content{
        top:12%;
    }

    [myquestion]
    {
        border-bottom: 1px solid #e1e1e1;
        margin:5px 0px 0px 0px
    }

    [optionlabel]
    {
        margin: 0px 0px 0px 3px;
        display: inline-block;
        white-space: normal;
    }
    
    [small]
    {
        border-radius: 5px;
        color: white;
    }
}
