<!--
  Generated template for the BlankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Under Construction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div nodatafound  text-center *ngIf="hr_request==[]||hr_request==''||hr_request==null ; else show_list">
      Page Under Construction
    </div>
</ion-content>
