<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gallery  <ion-icon name="add" pull-right (click)="openModal()"></ion-icon></ion-title>
  </ion-navbar>
  <!-- <ion-segment [(ngModel)]="home">
      <ion-segment-button value="upcoming" style="color: white;">
        <span>Upcomings</span>
      </ion-segment-button>

      <ion-segment-button value="closed"  style="color: white;">
        <span>Events</span>
      </ion-segment-button>
    </ion-segment> -->
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- style="background:linear-gradient(135deg, #00803b  0%,#0014ff 100%);
  border-radius:10px; color: white;" -->
  <ion-grid style="background:transparent; padding-top: unset; height: 100%;  text-align: center;
    color: rgb(10, 9, 9);" >
    <ion-row>
      <ion-col col-6 *ngFor="let event of gallery; let i = index"
       style="padding: 2px;"
        (click)="showgallery(event['id'],event['title'],event['description'],event['from_date'],event['to_date'])"
        >
          <ion-card-content style="background:white; border: 1px solid #555;border-radius:10px; ">
            <ion-card-title>
              <ion-row>
                <ion-col col-8>{{event['title']}}<br>{{event['created_at']}}</ion-col>
                <ion-col col-4 *ngIf="event['image_link']!='' && event['image_link']!=null"><img src="{{base_path}}{{event['image_link']}}" style="height: 50px; max-width: 50px; width: auto;"/></ion-col>
              </ion-row>
              <!-- <ion-row> -->
                <!-- <ion-col col-12 class="from_to">
                  {{event['updated_at']}}
                </ion-col> -->
                <!-- <ion-col col-6 class="from_to" style="text-align: right;">
                  TO : {{event['to_date']}}
                </ion-col> -->
              <!-- </ion-row> -->
            </ion-card-title>
            <!-- <p [innerHTML]="event['description']">
            </p> -->
          </ion-card-content>
          <!-- <ion-row no-padding>
            <ion-col text-right col-12>
              <button ion-button outline  icon-start  (click)="openModal(event['title'],event['description'],event['photo'],event['type'])">
                  <ion-icon ios="ios-images" md="md-images"style=" margin-right: unset; color:#fff !important;"></ion-icon>
                Details
              </button>
            </ion-col>
          </ion-row> -->
      </ion-col>
    </ion-row>
    <ng-template #norecord>
      <ion-row>
        <ion-col col-12>
          No Record Found
        </ion-col>
      </ion-row>
    </ng-template>

    <!-- <ion-fab bottom right edge>
      <button ion-fab mini (click)="upload_doc_modal()"><ion-icon name="add"></ion-icon></button>
    </ion-fab> -->

  </ion-grid>
</ion-content>
