.scroll-content {
    padding: 0px!important;
}

.toolbar-title-ios{
    margin-left: 30px;
  }
  .header{
    top:12%;
  }

  .content{
    top:12%;
    height: 88%;
  }

  .my_photo {
    font-size: 4rem;
    position: relative;
    margin: unset;

  }
  .bar-button-menutoggle-md {
    margin: 0 6px;
    padding: 0 0;
  }