<ion-content padding>

  <!-- <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer" width="100%" height="200px">
    <source src="" type="video/mp4" />
   </video> -->
  <br><br>
  <br><br>
  <br><br>
  <br><br>
   <p style=" text-align: center; border-bottom: unset !important;">

  {{appversion}}
      </p>
<!--
  <div style="text-align:center;">
    <img style="max-width: 28%;" src="../../assets/imgs/logo.png">
  </div> -->
  <ion-list class="myloginbox">

      <br> <br>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="mail"></ion-icon> Email ID
      </ion-label>
      <ion-input type="text"  [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        <ion-icon name="key"></ion-icon> Password
      </ion-label>
      <ion-row rowStyle>
        <ion-col size="11" item-left><ion-input type="{{type}}" text-left [(ngModel)]="password"></ion-input></ion-col>
        <ion-col size="1"  item-right>
          <ion-icon eye name="eye-off" *ngIf="!showPass" item-right (click)="showPassword()"></ion-icon>
          <ion-icon eye name="eye" *ngIf="showPass" item-right (click)="showPassword()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-checkbox color="danger" [(ngModel)]="rememberme"></ion-checkbox>
      <ion-label>
        Remember Me
      </ion-label>
    </ion-item>

    <!-- <ion-item class="noborder">
      
    </ion-item> -->
    <ion-button expand="block" color="danger" text-center shape="round" (click)="login()" [disabled]="isempty()">Sign In</ion-button>
  </ion-list>

  <!-- <div *ngIf="advertise" style="height:100px!important; width:auto; margin: auto; background: black; color:white; position: fixed; bottom:60px; left:5px; right:5px;">
  <ion-row>
    <ion-col col-11><p>this is advertisement block this is advertisement block this is advertisement block this is advertisement block this is advertisement block</p></ion-col>
    <ion-col col-1><ion-icon ios="ios-close-circle" md="md-close-circle" (click)="closead()" style="font-size:22px;"></ion-icon></ion-col>
  </ion-row>
</div> -->
<p white center style="text-align: center;"><a href="#" style="text-align:center;color: #ffffff;font-weight: 100;"  >Forgot Password</a></p>
</ion-content>
