ion-icon
    {
        margin-right:5px;
    }
    // .ion-page {
    //   background-position: center top !important;
    //   background-size: cover !important;
    //   background: url(../../assets/imgs/bg_new1.png)!important;
    // }

.content-md {
  color: #000;
  background-color: transparent !important;
}
.content {
  color: #000;
  background-color: transparent !important;
}
    // .myheader .toolbar-background-md
    // {
    //     background: green!important;
    //     color:white!important;
    //     font-weight: 400;

    // }
    // .myheader .toolbar-title
    // {
    //     color: white!important;
    // }

     .toolbar-background
    {
        background:transparent !important;
        color:white!important;
        font-weight: 400;

    }
    ion-header > .toolbar-background
    {
      background: url('../../assets/imgs/dashboard4.jpg')no-repeat fixed center
    }
     .toolbar-title
    {
        color: white!important;
    }
    [mycontent]
    {
        background: #2f323a!important;
    }
    [mycontent] .item-md
    {
        background: #2f323a!important;
        color:white!important;
    }

    .button-inner > ion-icon
    {
        color:white!important;
        }

    .item-ios{
      color: #fff;
      background-color: #2f323a;
    }
    .title-ios{
      margin-left: 0% !important;
    }
    .toolbar-title-ios{
      font-size: 18px !important;
      font-weight: 300 !important;
    }