page-travel-entitlement-modal {
    .header {
        top: 12%!important;
    }

    .content {
    top: 12%!important;
    height: 88%;
    }

    .radio_label {
    display: inline-block;
    }

    .label-md {
    margin: unset;
    }

    ion-input {
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding:0px 5px!important;
    }

    ion-datetime {
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding:10px 5px!important;
    }

    ion-textarea {
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    padding:0px 5px!important;
    }

    ion-select {
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    max-width: 100%;
    padding:0px 5px!important;
    }

    .dis_label {
    padding: 10px 0px;
    }
    ion-segment-button
    {
    color:white;
    background: #ffffff6b!important;
    }

    [pull-right]
    {
    float: right;
    }

    [pull-left]
    {
    float: left;
    }
      
    .text-input-md
    {
        margin: 10px;
    }  

    tr:nth-of-type(even)
    {
        background: #ccc!important;
        color: #333;
    }
}
