<ion-header>
  <ion-navbar>
    <ion-title>{{variablename}}<ion-icon name="close" pull-right (click)="viewCtrl.dismiss('','dismiss')"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="page_type!='main'">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-grid style="background-color: white !important;">
    <ion-row>
      <ion-col col-5>
        Date
      </ion-col>
      <ion-col col-7>
          <ion-datetime [(ngModel)]="date" displayFormat="YYYY-MM-DD" placeholder="Date" pickerFormat="YYYY-MM-DD"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        Invoice Serial No
      </ion-col>
      <ion-col col-7>
          <ion-input [(ngModel)]="inv_serial_no" placeholder="Invoice Serial No"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        Vendor Name
      </ion-col>
      <ion-col col-7>
          <ion-input [(ngModel)]="vendor_name"  placeholder="Vendor Name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        Vendor GSTIN No
      </ion-col>
      <ion-col col-7>
          <ion-input [(ngModel)]="vendor_gst"  placeholder="Vendor GSTIN No"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        Basic Amount
      </ion-col>
      <ion-col col-7>
          <ion-input type="number" [(ngModel)]="basic_amount"  placeholder="Basic Amount" (keyup)="findsum()"></ion-input>
      </ion-col>
    </ion-row>
    <!-- <ion-row> -->
        <!-- <ion-col col-12>
          <ion-label class="dis_label">
            Upload Files
          </ion-label>
        </ion-col> -->
        <ion-row style="border: 1px solid #b8b8b8;
        border-radius: 8px;">
          <!-- <ion-col col-12>
            <ion-input type="text" [(ngModel)]="remark" placeholder="Enter Remark"></ion-input>
          </ion-col> -->
          <ion-col col-3>
  
            <input ion-input type="file" style="opacity: 0;" (change)="changeListener($event)"  [(ngModel)]="file_input" id="file-input" #fileInp
              accept="image/*" />
              <p style="width: 100%;
              margin-top: -20px;
              margin-bottom: 0px;
              background: #427feb;
              color: white;
              padding: 5px 5px;
              border-radius: 5px;">Add File</p>
          </ion-col>
          <ion-col col-9>
            <!-- <button ion-button style="width: 100%;" [disabled]="file_input==null||file_input==''" (click)="add_to_list()">Add File</button> -->
            {{filename}}
          </ion-col>
        </ion-row>
      <!-- </ion-row> -->
      <br>
      <!-- <ion-row  *ngIf="data_list == []||data_list==''||data_list==null ; else show_list" >
        <ion-col col-12>No file attached</ion-col>
      </ion-row> -->
      <ng-template #show_list>
        <ion-row style="    overflow-x: scroll;">
        <table class="table  table-hover" >
          <thead>
            <tr>
              <th style=" width: 7%; ">Sr</th>
              <th style=" width: 40%; ">File</th>
              <!-- <th style=" width: 40%; ">Remark</th> -->
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data_list; index as k">
              <td>
                  {{k+1}}
              </td>
              <td>
                {{item['filename']}}
              </td>
              <!-- <td>
                {{item['remark']}}
              </td> -->
              <td>
                <button ion-button small (click)="delete_id_list(k)" >
                  <ion-icon style="margin:unset; " name="trash"></ion-icon>
                </button>
  
              </td>
            </tr>
          </tbody>
        </table>
      </ion-row>
    </ng-template>

    <ion-row>
      <ion-col col-5>
        CGST Amount
      </ion-col>
      <ion-col col-7>
          <ion-input type="number" [(ngModel)]="cgst_amount"  placeholder="CGST Amount" (keyup)="findsum()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        SGST Amount
      </ion-col>
      <ion-col col-7>
          <ion-input type="number" [(ngModel)]="sgst_amount"  placeholder="SGST Amount" (keyup)="findsum()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        IGST Applicable
      </ion-col>
      <ion-col col-7>
          <ion-checkbox [(ngModel)]="igst_applicable"></ion-checkbox>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        IGST Amount
      </ion-col>
      <ion-col col-7>
          <ion-input type="number" [(ngModel)]="igst_amount" [readonly]="igst_applicable!=true"  placeholder="IGST Amount" (keyup)="findsum()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        Total Amount
      </ion-col>
      <ion-col col-7>
          <ion-label>{{total_amount}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-7>
          <button ion-button (click)="add_to_json()"  color="secondary"
          [disabled]="filename==''||filename==null
          ||total_amount==''||total_amount==null
          ||basic_amount==''||basic_amount==null
          ||inv_serial_no==''||inv_serial_no==null
          ||date==''||date==null
          ||vendor_name==''||vendor_name==null
          ||vendor_gst==''||vendor_gst==null"
          >Submit</button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-content padding *ngIf="page_type=='main'">
  <ion-fab top right edge style="top: 20%; right: -6px; position: fixed;">
    <button ion-fab mini (click)="addnew()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-grid style="background-color: white !important;margin-top: 12%;">
    
    <ion-card *ngFor="let item of mainvalue; let i=index;">
      <ion-row>
        <ion-col col-9 (click)="editjson(i)">
          <h5>{{item['date']}} <span pull-right>Rs. {{item['total_amount']}}</span></h5>
          <span>INV - {{item['inv_serial_no']}}</span>
        </ion-col>
        <!-- <ion-col col-6>
          
        </ion-col>
        <ion-col col-6>
          
        </ion-col> -->
        <ion-col col-3>
            <ion-icon name="trash" pull-right (click)="delete_from_main(i)" style="font-size: 24px;
            margin: 0px 10px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-row *ngIf="mainvalue.length>0">
        <button ion-button block (click)="submitjson()"  color="primary">SAVE</button>
    </ion-row>
  </ion-grid>
</ion-content>
