<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appraisals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="background:transparent; padding-top: 5px; text-align: center; color: rgb(10, 9, 9);">
    <ion-row class="mycard" *ngFor="let appr of appraisals;let i=index">
        <ion-col col-4>
          {{month_arr[appr['month']-1]}} {{appr['year']}}
        </ion-col>
        <ion-col col-4>
          {{appr['score']}} / 100
        </ion-col>
        <ion-col col-4 (click)="showdetail(i)">
          Details <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row class="mycard" *ngIf="appraisals==[] || appraisals=='' || appraisals==null">
      <ion-col col-12>No records found</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
