<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Learning Management System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let course of courses; let i=index" (click)="openChapters(i)">
      <ion-row>
        <ion-col col-12 style="color: rgb(39, 169, 56); font-size: 18px;">
          {{course.course_name}}
        </ion-col>
        <ion-col size="6">
          Due Date : {{course.due_date}}
        </ion-col>
        <ion-col size="6">
          <span *ngIf="course.due_days!=null">
            <span bg-orange>{{course.due_days}} Due days</span>
          </span>
          <span *ngIf="course.over_due_days!=null">
            <span bg-red>{{course.over_due_days}} Over due days</span>
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 bg-lightgrey>
          {{course.course_description}}
        </ion-col>
      </ion-row>        
    </ion-card>
  </ion-grid>
</ion-content>
