page-chapters {

    .ion-page{
        background:url('../../assets/imgs/bg_new1.png') !important;
        background-position: center top !important;
        background-size: cover !important;
    }

    .header{
        top:12%;
    }

    .content{
        top:12%;
    }

    .timeline{
        width: 15%;
        height: 100%;
        background-color: #ea9c42;
        margin: 0px auto 0px auto;
        display: block;
    }
    
    .timeline-col{
        padding: 0;
    }

    .timeline>.circle
    {
        width: 50%;
        top: 42%;
        position: absolute;
        height: 10%;
        background-color:  #ea9c42;
        margin: 0px auto 0px -15%;
        border-radius: 50%;
    }

    .links {
        // top: 49%;
        // position: absolute;
        // border-top: 4px solid  #ff0058;
        // width: 100px;
    }

    ion-card{
        padding: 5px;
        border-radius: 15px!important;
        border:5px solid #ea9c42;
        box-shadow: 5px 5px 5px #888888 !important;
    }

    ion-card-content
    {
        padding: 0px!important;
    }
}
