.toolbar-title-ios{
    margin-left: 30px;
}
.header{
top:12%;
}

.content{
top:12%;
height: 88%;
}

ion-row
{
background: white;
}
table
{
    width: 100vw;
}

tr:nth-of-type(odd),tr:nth-of-type(even){
    background-color: white;
    padding: 5px;
    color: black;
}

th
{
    background: lightgrey;
    color: black;
}

th,td
{
    padding: auto;
    white-space: normal;
}