<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Informations</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="home">
    <ion-segment-button value="notice" style="color: white;">
      <ion-icon ios="ios-person" md="md-person" style="vertical-align: middle; "></ion-icon><span>Personal</span>
    </ion-segment-button>

    <ion-segment-button value="visitors" style="color: white;">
      <ion-icon ios="ios-document" md="md-document" style="vertical-align: middle;"></ion-icon> Documents
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content>
  <div [ngSwitch]="home">
    <ion-list style="padding-top: 6px;" *ngSwitchCase="'notice'">
      <ion-item class="my_item" style="text-align:center;    padding-bottom: 10%;">


        <ion-icon class="my_photo" ios="ios-camera" md="md-camera"></ion-icon><br>


        <span class="my_head">{{username}}</span> <br>
        <span class="my_contact">+91 {{mobile}}</span><br>
        <span class="my_design">{{email}}</span>


        <!-- <ion-icon class="my_photo" ios="ios-camera" md="md-camera"></ion-icon>

            <span>Mr. GAURAV GAYALI</span>
            <span>+91 8521002476</span>
            <span>himaoya.wfeg@gmail.com</span> -->


      </ion-item>
      <div style="text-align: center;
      font-size: 11px;border-radius: 15px;  position: absolute;
      top: 118px;  text-align:center; width:100%;     left: 1%;">
        <div class="my_div_hover"
          style="width: 98%;       box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);  border-radius: 15px;">
          <ion-row class="my_row">
            <ion-col class="my_col_type" col-4>

              {{bank_name||"Not Available"}}<br>
              Bank
            </ion-col>
            <ion-col class="my_col_type" style="
            border-left: solid 1px #38484e;
            border-right: solid 1px #38484e;
            font-size: 10px; " col-4>
              {{acc_no||"Not Available"}}<br>
              A/C Number

            </ion-col>
            <ion-col class="my_col_type" col-4>
              {{ifsc||"Not Available"}}<br>
              IFSC Code

            </ion-col>
          </ion-row>
          <!-- <ion-icon class="my_photo" ios="ios-camera" md="md-camera"></ion-icon>

              <span>Mr. GAURAV GAYALI</span>
              <span>+91 8521002476</span>
              <span>himaoya.wfeg@gmail.com</span> -->

        </div>
      </div>
      <!-- <ion-item>  -->

      <!-- <ion-row class="my_row">
                  <ion-col >
                     Family Details <br>
                    Father : KRISHNA PRASAD VAISHNAV <br>
                    Mother : SAVITRI BAI VAISHNAV <br>
                    Spouse : NINI VAISHNAV
                    </ion-col>

              </ion-row> -->
      <!-- </ion-item> -->
      <br>
      <ion-card style="    font-weight: 400;
      padding: 10px;
      width: 100%;
      margin: unset;">
        <ion-card-header style="color:#38484e; font-size:16px;">
          Family Details
        </ion-card-header>
        <ion-card-content style=" color: #5a5a5a; font-size:14px;">
          <ion-row>
            <ion-col col-3 no_pad>
              Father
            </ion-col>
            <ion-col col-1 no_pad>
              :
            </ion-col>
            <ion-col col-8 no_pad>
              {{father_name||"Not Available"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 no_pad>
              Mother
            </ion-col>
            <ion-col col-1 no_pad>
              :
            </ion-col>
            <ion-col col-8 no_pad>
              {{mother_name||"Not Available"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 no_pad>
              Spouse
            </ion-col>
            <ion-col col-1 no_pad>
              :
            </ion-col>
            <ion-col col-8 no_pad>
              {{spouse_name||"Not Available"}}
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let child of children">
            <ion-col col-3 no_pad>
              Child
            </ion-col>
            <ion-col col-1 no_pad>
              :
            </ion-col>
            <ion-col col-8 no_pad>
              {{child||"Not Available"}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-item class="my_item">
        <ion-row class="my_row2">

          <ion-col class="my_col_type2" style="text-align:center;" col-12>
            <span class="sal1"> Date Of Birth</span>
            <br>
            <span class="sal">{{dob||"Not Available"}}</span>

          </ion-col>
        </ion-row>
        <ion-row class="my_row2">
          <ion-col class="my_col_type2" style="text-align:center;" col-6>

            <span class="sal1">ESIC no. </span>
            <br>
            <span class="sal"> {{esic_number||"Not Available"}} </span>
          </ion-col>
          <ion-col class="my_col_type2" style="text-align:center;" col-6>
            <span class="sal1"> UAN No.</span>
            <br>
            <span class="sal">{{uan_number||"Not Available"}}</span>

          </ion-col>
        </ion-row>
        <ion-row class="my_row2">
          <ion-col class="my_col_type2" style="text-align:center;" col-6>

            <span class="sal1"> EPF no.</span>
            <br>
            <span class="sal"> {{epf||"Not Available"}}</span>
          </ion-col>
          <ion-col class="my_col_type2" style="text-align:center;" col-6>
            <span class="sal1">Ledger Id. </span>
            <br>
            <span class="sal">{{genesis_ledger_id||"Not Available"}}</span>

          </ion-col>
        </ion-row>



        <!-- <ion-icon class="my_photo" ios="ios-camera" md="md-camera"></ion-icon><br>


        <span class="my_head">{{username}}</span> <br>
        <span class="my_contact">+91 {{mobile}}</span><br>
        <span class="my_email">{{email}}</span> -->


        <!-- <ion-icon class="my_photo" ios="ios-camera" md="md-camera"></ion-icon>

            <span>Mr. GAURAV GAYALI</span>
            <span>+91 8521002476</span>
            <span>himaoya.wfeg@gmail.com</span> -->


      </ion-item>
      <ion-card style="    font-weight: 400;
      padding: 5px;
      width: 100%;
      margin: unset;">
        <ion-card-header style="    font-size: 18px;
        line-height: 1.8;
        padding-right: unset;
    padding-left: unset;
        ">
          <div style="border: 2px solid #38484e85;
          color: #38484e;
          /* padding-left: unset; */
          border-radius: 3px;
          padding: 3px;">Change Password <button ion-button small pull-right (click)="show_me()" style="font-size: 1rem;">

            <ion-icon style="margin-right:0px;" name="{{pass_icon}}"></ion-icon>
          </button>

        </div>


        </ion-card-header>
        <ion-card-content style=" color: #5a5a5a; font-size:14px;" *ngIf="hideme">
          <ion-row style="    margin-bottom: 9px;">
            <ion-col col-12 no_pad>
              Password
            </ion-col>
            <ion-col col-12 no_pad>
                <ion-input type="password" [(ngModel)]="new_password" placeholder="Enter new password"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12 no_pad>
              Confirm Password
            </ion-col>
            <ion-col col-12 no_pad>
                <ion-input type="password" [(ngModel)]="new_confirm_password" placeholder="Enter new password again"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 >
              <button ion-button small pull-right (click)="change_password_confirm()">Change</button>
            </ion-col>

          </ion-row>
        </ion-card-content>


      </ion-card>

    </ion-list>


    <ion-list style="padding-top: 6px;" *ngSwitchCase="'visitors'">
      <ion-item *ngIf="doc1!=[]||doc1!=null||doc1!=''||doc1.length>=1; else elseBlock" style="border-bottom: solid 1px #dadada; color: #2f323a !important;
        background-color: #fff !important;">
        <ion-row *ngFor="let item of doc1">
          <ion-col col-2>
            <ion-icon style="font-size: 2em; color: #717171;" ios="ios-paper" md="md-paper"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <p style="    word-wrap: break-word;
                  width: 100%;
                  white-space: normal;">
              {{item['document_name']||"Unknown"}}</p>
          </ion-col>
          <ion-col col-2>
            <button style="
                  font-size: 18px;
                  background-color: #488aff;
                    padding: 6px;
                    border-radius: 4px;
                    float: right;" *ngIf="item['path']!=''||item['path']!=null" class="bg-blue">
              <a style="color:white; " (click)="openfile(item['path'])">View</a>
            </button>
          </ion-col>

        </ion-row>




      </ion-item>
      <ng-template #elseBlock>
        <ion-item>
          No Documents Available
        </ion-item>
      </ng-template>

      <!-- <ion-grid>
           <ion-row>
              <ion-col col-6  *ngFor="let item of doc1">
                  <ion-card style="font-weight: 400;" >

                      <ion-card-content style=" color: #5a5a5a;">
                        <ion-row>
                          <ion-col col-12  >
                            {{item['document_name']||"Undefined Name"}}
                          </ion-col>
                          <ion-col col-12>
                            <button  *ngIf="item['path']!=''||item['path']!=null" class="bg-blue">
                              <a style="color:white;" (click)="openfile(item['path'])">View</a>
                            </button>
                          </ion-col>
                        </ion-row>


                      </ion-card-content>
                    </ion-card>
              </ion-col>

           </ion-row>


        </ion-grid> -->

    </ion-list>

  </div>
</ion-content>
