page-info {
  .my_item {
    color: #fff !important;
    background-color: #38484e !important;
    padding-left: unset;
    padding-right: unset;
    margin-right: -9px;
  }

  .list-md .item-block .item-inner {
    border-bottom: unset !important;
  }

  [pull-right] {
    float: right;
  }

  .my_col_type {
    padding: 11px 5px;
  }

  .my_col_type2 {
    padding: 4px 5px;
    border: 1px solid white;
  }

  .my_div_hover {
    color: #38484e !important;
    background-color: #fff !important;
    padding-left: unset;
    padding-right: unset;
    // margin-right: -9px;
  }

  .item-inner {
    padding-right: unset !important;
  }

  .label-md {
    margin: 5px 0px 5px 0;
  }

  [no_pad] {
    padding: unset !important;
  }

  .my_photo {
    font-size: 4rem;
    position: relative;
    margin: unset;
    padding-top: 5px;
  }

  .sal {
    font-size: 14px;

  }

  .sal1 {
    font-size: 16px;

  }

  .my_email {
    font-size: 14px
  }

  .my_contact {
    font-size: 13px;
  }

  .my_col {
    vertical-align: text-bottom;
    position: relative;
    text-align: center;

  }

  .my_head {
    font-size: 18px;
  }

  .my_row {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
  }

  .my_row2 {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
    font-size: 22px;
    font-weight: 300;
  }

  .my_row_head {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
  }

  .label-md {
    margin-top: unset !important;

    margin-bottom: unset !important;

  }

  .item-ios {
    font-size: 100%;

  }

  .label-ios {
    margin: 11px 8px 11px 8px;
  }

  .header {
    top: 12%;

  }

  .content {
    top: 12%;
    height: 88%;
  }

  .text-input-md {
    margin: 4px 1px;
    padding: 4px 0px 4px 8px;
    width: calc(100% - 8px - 0px);
    border: 1px solid #38484e;
    border-radius: 4px;
  }
}
