page-notification {
  .content{
    top:12%;
    height: 88%;
  }
  .header{
    top:12%;
  }
  .head_item {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  .btn-mine{
    background-color: transparent;
    white-space: unset;
  }
  .label-md {
    margin: 13px 0px 0px 0;
  }
  .item-md {
    padding-left: 0px;
  }
}
