.my_item {
  margin: unset;
  color: #fff;
  background-color: #38484e !important;
  padding-left: unset;
  padding-right: unset;
  }

  .list-md .item-block .item-inner {
    border-bottom: unset !important;
  }

  [pull-right] {
    float: right;
  }

  .my_col_type2 {
    border: 1px solid white;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
  }

  .my_div_hover {
    color: #38484e !important;
    background-color: #fff !important;
    width: 98%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    border-radius: 8px;
    margin: auto;
    font-size: 15px;
    font-weight: 500;
    font-family: unset;

    ion-col{
      text-align: center;
    }
  }

  .item-inner {
    padding-right: unset !important;
  }

  .label-md {
    margin: 5px 0px 5px 0;
  }

  .my_photo {
    font-size: 2.5rem;
    position: relative;
    margin: auto;
    padding-top: 2px;
    color: #fff;
  }

  .my_email {
    font-size: 14px
  }

  .my_contact {
    font-size: 15px;
  }
  .my_design{
    font-size: 17px;
  }

  .my_col {
    vertical-align: text-bottom;
    position: relative;
    text-align: center;
  }

  .my_head {
    font-size: 19px;
  }

  .my_row {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
  }

  .my_row2{
    margin: unset;
    color: #fff;
    background-color: #38484e !important;
    padding-left: unset;
    padding-right: unset;
  }

  .my_row_head {
    margin-left: unset !important;
    margin-right: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
  }

  .label-md {
    margin-top: unset !important;

    margin-bottom: unset !important;

  }

  .item-ios {
    font-size: 100%;

  }

  .label-ios {
    margin: 11px 8px 11px 8px;
  }

  .header {
    top: 12%;

  }

  .content {
    top: 12%;
    height: 88%;
  }

  .text-input-md {
    margin: 4px 1px;
    padding: 4px 0px 4px 8px;
    width: calc(100% - 8px - 0px);
    border: 1px solid #38484e;
    border-radius: 4px;
  }

  [bank_details]{
    text-align: center;
    font-size: 11px;
    border-radius: 15px;  
    position: absolute; 
    width:100%;
    z-index: 10;
  }
  [father_card]{
      font-weight: 400;
      padding: 10px;
      width: 100%;
      margin: 22px 0px 0px 0px;

      [father_card_header]{
        color:#38484e; 
        font-size: 18px;
      }

      [father_card_content]{
        color: #5a5a5a; 
        line-height: 8px;
        font-size: 15px;
        padding: unset;
      }
  }
  [password_card]{
      font-weight: 400;
      padding: 5px;
      width: 100%;
      margin: unset;

      ion-card-header{
        font-size: 18px;
        line-height: 1.8;
        padding-right: unset;
        padding-left: unset;

        [changePass]{
          border: 2px solid #38484e85;
          color: #38484e;
          /* padding-left: unset; */
          border-radius: 6px;
          font-weight: 500;
          font-family: system-ui;
          padding: 3px 7px;
        }
      }

      ion-card-content{
        color: #5a5a5a; font-size:14px;

        ion-row{
          margin-bottom: 9px;
        }
      }
  }
 
  [docIcon]{
    font-size: 2em; color: #717171;
  }
  [docName]{
    word-wrap: break-word;
    width: 100%;
    white-space: normal;
  }
  [viewBtn]{
    font-size: 18px;
    background-color: #488aff;
      padding: 6px;
      border-radius: 4px;
      float: right;

      a{
        color:white;
      }
  }

  ion-segment{
    margin-top: -6px;
  }

  ion-segment-button{
    color: #fff;

    ion-icon{
      vertical-align: middle;
    }
  }
  [noticeHead]{
    padding-top: 6px;
    background: transparent;
  }
  [acc_details]{
    border-left: solid 1px #38484e;
    border-right: solid 1px #38484e;
  }
  [passIcon]{
    margin-right:0px;
  }

  [no_pad] {
    float: left;
}
ion-item{
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 16px;
  --background: transparent;
  color: #fff;
}