<!--
  Generated template for the FinancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <!-- <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Claims / Reimbursment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row text-center>
      <ion-col size="6" (click)="open_root('travel-entitlement')">
        <div center class="mybox2">
            <img src="../../assets/imgs/travel_entitlement.png" style="border: 4px solid #2ec95c; padding: 9px 6px 6px 6px;">
            <br>
            <span style="  font-size: 100%">Travel Entitlement</span>
        </div>
      </ion-col>
      <ion-col size="6" (click)="open_root('business')">
        <div center class="mybox2">
          <img src="../../assets/imgs/bussiness.png"  style=" padding: 9px 6px 6px 6px;    border: 4px solid #ff2323;">
          <br>
          <span style="  font-size: 100%">Business</span>
          <!-- <ion-button shape="round" size="small" class="notification_btn">45</ion-button> -->
        </div>
      </ion-col>

      <ion-col size="6" (click)="open_root('blank')">
        <div center class="mybox2">
          <img src="../../assets/imgs/relocation.png"  style="padding: 9px 6px 6px 6px; border: 4px solid #1a6af7;">
          <br>
          <span style="   font-size: 100%"> Relocation </span>
        </div>
      </ion-col>

      
      <ion-col size="6" (click)="open_root('blank')">
        <div center class="mybox2">
          <!-- <ion-icon ios="ios-book" md="md-book" style="    border: 4px solid #ff23f3;"></ion-icon><br> -->
          <img src="../../assets/imgs/ctc.png" style="padding: 9px 6px 6px 6px; border: 4px solid #ff23f3;"><br>
          <span style="   font-size: 100%"> CTC Reimbursment </span>
        </div>
      </ion-col>

      <ion-col size="6" (click)="open_root('claim-requests')">
        <div center class="mybox2">
            <img src="../../assets/imgs/my_request.png" style="padding: 9px 6px 6px 6px; border: 4px solid #ff7b14;"><br>
          <span style="   font-size: 100%"> My Claims </span>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
