<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Check List</ion-title>
    </ion-navbar>
    <ion-segment *ngIf="home!=''" [(ngModel)]="home">
      <ion-segment-button value="mychecklist" style="color: white; padding: 0px!important;">
        <span>My Check List</span>
      </ion-segment-button>
      <ion-segment-button value="allchecklist" style="color: white; padding: 0px!important;">
        <span>All Check List</span>
      </ion-segment-button>
    </ion-segment>
  </ion-header>
  
  <ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid style="background:transparent; padding: 0; text-align: left;
    color: rgb(10, 9, 9); background: white; margin-top: 12%;" *ngIf="home!=''" [ngSwitch]="home">
  
      <ion-row *ngSwitchCase="'mychecklist'">
          <ion-col col-12 *ngIf="mychecklist==[]||mychecklist==''||mychecklist==null ; else show_list">
            You have no Check List.
          </ion-col>
          <ion-col col-12  *ngIf="mychecklist!=[] && mychecklist!='' && mychecklist!=null" #show_list style="border-bottom: 1px solid #ddd; padding: 5px 0px 0px 0px;">
            <table style=" max-height: 32rem; width: 100%; overflow-y: scroll;">
              <thead>
                <th>Check List</th>
                <th>Due Date</th>
                <th>Due Time</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of mychecklist; let i=index" (click)="openModal(i,item['id'],'emp')">
                  <td>
                    {{item['title']}}
                  </td>
                  <td>
                    {{item['due_date']}}
                  </td>
                  <td>
                    {{item['due_time']}}
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-col>
      </ion-row>
    
      <ion-row *ngSwitchCase="'allchecklist'">
        <ion-col co-12 *ngIf="allchecklist==[]||allchecklist==''||allchecklist==null ; else show_list2">
          No Check List.
        </ion-col>
        <ion-col col-12 *ngIf="allchecklist!=[] && allchecklist!='' && allchecklist!=null" #show_list2 style="border-bottom: 1px solid #ddd; padding: 5px 0px 0px 0px;">
          <table style=" max-height: 32rem; width: 100%; overflow-y: scroll;">
            <thead>
              <th>Employee</th>
              <th>Check List</th>
              <th>Due Date</th>
              <th>Due Time</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of allchecklist; let i=index" (click)="openModal(i,item['id'],'approver')">
                <td>
                  {{item['first_name']}} {{item['middle_name']}} {{item['last_name']}}
                </td>
                <td>
                  {{item['title']}}
                </td>
                <td>
                  {{item['due_date']}}
                </td>
                <td>
                  {{item['due_time']}}
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
 
    </ion-grid>

    <ion-grid style="background:transparent; padding: 0; text-align: left;
    color: rgb(10, 9, 9); background: white;" *ngIf="home==''">
      <ion-row *ngIf="home==''">
        <ion-col col-12 *ngIf="mychecklist==[]||mychecklist==''||mychecklist==null">
          <span>You have no Check List.</span>
        </ion-col>
        <ion-col col-12 *ngIf="mychecklist!=[] && mychecklist!='' && mychecklist!=null" style="border-bottom: 1px solid #ddd; padding: 5px 0px 0px 0px;">
          <table style=" max-height: 32rem; width: 100%; overflow-y: scroll;">
            <thead>
              <th>Check List</th>
              <th>Due Date</th>
              <th>Due Time</th>
            </thead>
            <tbody>
              <!-- <tr (click)="openform()">
                <td>checklist 1</td>
                <td>duedate 1</td>
                <td>duetime 1</td>
              </tr>
              <tr>
                <td>checklist 2</td>
                <td>duedate 2</td>
                <td>duetime 2</td>
              </tr>
              <tr>
                <td>checklist 3</td>
                <td>duedate 3</td>
                <td>duetime 3</td>
              </tr> -->
              <tr *ngFor="let item of mychecklist; let i=index" (click)="openModal(i,item['id'],'emp')">
                <td>
                  {{item['title']}}
                </td>
                <td>
                  {{item['due_date']}}
                </td>
                <td>
                  {{item['due_time']}}
                </td>
              </tr>
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
