// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/**************************************************************************/

table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
    color:#333;
}
tr:nth-of-type(even) {
    background: #333;
    color:#eee;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 12px;
}
.heading
{
    padding: 5px 8px 5px 6px;
    font-size: 14px;
    font-weight: 200;
    background:#093d80;
    color:white;
    margin:0px;

}
td{
    padding-bottom: 4px;
    padding-top: 4px;
}
.table-responsive
{
overflow-x: scroll;
}

table
{
    display: table;
    white-space: nowrap;
}

[btn-red]
{
    background-color: red;
    color: white;
    padding: 5px;
    height: auto;
    width: 100%;
}

[btn-green]
{
    background-color: green;
    color: white;
    padding: 5px;
    height: auto;
    width: 100%;
}

[btn-orange]
{
    background-color: orange;
    color: white;
    padding: 5px;
    height: auto;
    width: 100%;
}

  [sm-btn-red]
  {
    background: red;
  }
  [sm-btn-green]
  {
    background: green;
  }
  [sm-btn-orange]
  {
    background: orange;
  }
  [sm-btn-blue]
  {
    background: rgb(0, 126, 175);
  }


[lg-btn-red]
{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

[lg-btn-green]
{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

[lg-btn-orange]
{
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

[lg-btn-blue]
{
    background-color: rgb(0, 126, 175);
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.mycard
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    color: grey;
    margin-bottom: 5px;
}

.leave-approval-card
{
    background: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

[text-left]
{
  text-align: left!important;
}

[text-right]
{
  text-align: right;
}

[big-text]
{
    font-size: 20px;
}

[blue-text]
{
    color: rgb(0, 132, 255);
}

[pull-right]
{
    float: right;
}

[pull-left]
{
    float: left;
}

.alert-md .alert-message, .alert-md .alert-input-group
{
    color: black;
}

.leaveremark
{
    color: black;
    font-weight: 500;
}

[leave_cancel]
{
    background: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    min-height: unset;
}

[leave_cancel_date]
{
    background: orangered;
    color: white;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    min-height: unset;
}

[show_hide_detail]
{
    background: rgb(0, 119, 255);
    color: white;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    min-height: unset;
}

[navigate-row]
{
    font-size: 28px;
}

[calendar_star]
{
    margin:2px;
    font-size: 18px;
}

[bg-green]
{
    color: green;
}

[bg-orange]
{
    color: orange;
}

[bg-red]
{
    color: red;
}

[bg-lightgrey]
{
    color: rgb(136, 136, 136);
}

[calendar_date]
{
    font-size: 14px;
    font-weight: 500;
}

.segmenttitle
{
padding: 0px!important;
color: white!important;
}
