.item-ios{
    color: #2f323a !important;
    background-color: #fff !important;
  }
  .header{
    top:12%;

  }
  .content{
    top:12%;
    height: 88%;
  }
  .foot_item {
    font-size: 14px;
    font-weight: 600;
    color: #909090;
  }
  .head_item {
    font-size: 20px;
    font-weight:500;
    color: #909090;
  }
  ion-row{
    margin: 0px;
    width: 100%;
  }
  ion-checkbox{
    margin-right: 30px;
  }
  ion-button{
    width: 100%;
    margin: 20px 6px;
  }
  ion-item{
    margin-top: 0px;
  }