page-my-leaves {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
    }
    .toolbar-title-ios{
    margin-left: 30px;
    }
    .ion-page{
    background:url('../../assets/imgs/bg_new1.png') !important;
    background-position: center top !important;
    background-size: cover !important;
    }
    .header{
    top:12%;

    }
    .content{
    top:12%;
    }

    ion-content>ion-grid
    {
        background:transparent;
        padding-top: unset;
        text-align: center;
        color: rgb(10, 9, 9);
    }
}
