<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>L & D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-row>
    <ion-col col-1>
      <span class="slider-nav arrow-prev"
        (click)="slidePrev(sliderOne,slideWithNav)">
        <div class="prev-icon-custom custon-nav"
          [class.disabled]="sliderOne.isBeginningSlide"></div>
      </span>
    </ion-col>
    <ion-col col-10>
  
      <ion-slides pager="true" #slideWithNav
        (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
        <ion-slide *ngFor="let s of sliderOne.slidesItems">
          <img src="{{s.image}}" style="width: 100%; height: 200px;;"   imageViewer="{{sliderOne.slidesItems}}">
        </ion-slide>
      </ion-slides>
  
    </ion-col>
    <ion-col col-1>
      <span class="slider-nav arrow-next"
        (click)="slideNext(sliderOne,slideWithNav)">
        <div class="next-icon-custom custon-nav"
          [class.disabled]="sliderOne.isEndSlide"></div>
      </span>
    </ion-col>
  </ion-row> -->

    <ion-list style="margin-bottom: 80px;">
        <ion-item *ngIf="l_n_d==[]||l_n_d==''||l_n_d==null">
          No Documents Available
        </ion-item>

        <ion-item *ngFor="let item of l_n_d" (click)="openfile(item['upload_file'])">
            {{item['file_name']||"Unknown"}}
        </ion-item>
   <!-- <ng-template #show_list> -->
       <!-- <ion-item style="border-bottom: solid 1px #dadada; color: #2f323a !important;
      background-color: #fff !important;    height: 100% !important;
    margin-bottom: 5px;" >



      <ion-row *ngFor="let item of l_n_d">
        <ion-col col-2>
          <ion-icon style="font-size: 2em; color: #717171;" ios="ios-paper" md="md-paper"></ion-icon>
        </ion-col>
        <ion-col col-8>
          <p style="    word-wrap: break-word;
                  width: 100%;
                  white-space: normal;">
            {{item['file_name']||"Unknown"}}</p>
        </ion-col>
        <ion-col col-2>

            <a  class="bg-blue"
             style="
            font-size: 18px;
                  background-color: #488aff;
                    padding: 6px;
                    border-radius: 4px;
                    float: right;
            color:white; "
            (click)="openfile(item['upload_file'])"
            >View</a>

        </ion-col>
      </ion-row>
    </ion-item> -->
   <!-- </ng-template> -->
  </ion-list>

</ion-content>
