
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Travel Doc Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label floating>Description</ion-label>
          <ion-textarea [(ngModel)]="description"></ion-textarea>

        </ion-item>
        <ion-item>
          <ion-label floating>Amount</ion-label>
          <ion-input type="text" [(ngModel)]="amount"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label floating>SGST</ion-label>
          <ion-input type="text" [(ngModel)]="sgst"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label floating>CGST</ion-label>
          <ion-input type="text" [(ngModel)]="cgst"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label floating>IGST</ion-label>
          <ion-input type="text" [(ngModel)]="igst"></ion-input>

        </ion-item>
        <ion-item>
          <ion-label floating>GST No.</ion-label>
          <ion-input type="text" [(ngModel)]="gst_no"></ion-input>

        </ion-item> 
        <!-- <ion-item>
          <ion-label floating>Total Amount</ion-label>
          <ion-input type="decimal" [(ngModel)]="total_amount"></ion-input>

        </ion-item>-->
        <ion-item style="text-align:center">
          <input type="file" (change)="changeListener($event)" id="file-input" style="opacity: 0" #fileInp accept="image/*" />
          <img src="../../assets/imgs/documents.png" style="width : 60% ; height : 60%"  (click)="onClick()">

          <span pull-right>{{filename}}</span>

        </ion-item>


    </ion-list>
    <!-- <ion-buttons>
      <ion-button ion-button full (click)="submitdata()">
        Save
      </ion-button>
    </ion-buttons> -->
    <ion-row style="text-align: center;background-color: white;">
      <ion-col pull-left><ion-button class="bg-red" (click)="dismiss()"><ion-icon name="backspace"></ion-icon><br>Cancel</ion-button></ion-col>
      <ion-col pull-right><ion-button class="bg-green" (click)="submitdata()"><ion-icon name="done-all"></ion-icon><br>Submit</ion-button></ion-col>
    </ion-row>
</ion-content>
