page-travel-request {
  .header{
    top:12%;

  }
  .content{
    top:12%;
    height: 88%;
  }
  .radio_label{
    display:inline-block;
  }
  .label-md {
    margin: unset;
  }
  ion-input{
    border: 1px solid #a6a6a6;
  border-radius: 6px;
  }
  ion-datetime{
    border: 1px solid #a6a6a6;
  border-radius: 6px;
  }
  ion-textarea{
    border: 1px solid #a6a6a6;
  border-radius: 6px;
  }
  ion-select{
    border: 1px solid #a6a6a6;
    border-radius: 6px;
    max-width: 100%;
  }
  .dis_label{
    padding: 10px 0px;
  }
}
