.header{
    top:12%;

  }
  .content{
    top:12%;
    height: 88%;
  }
  .head_right_item {
    font-size: 14px;
    font-weight: 600;
  }
  .foot_item {
    font-size: 12px;
    font-weight: 600;
    color: #909090;
  }
  .head_item {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
  }
 .up_icon{
    padding-right: unset;
  }
  .up_span{
    padding-right: 10px;
    text-align: justify;
  }
  .up_btn{
    float: right;
  }

  [pull-left]
  {
    float: left;
  }
  [pull-right]
  {
    float: right;
  }
  [nodatafound]{
    left: 30%;
    margin-top: 16px;
    font-size: 15px;
  }