<ion-header>
  <ion-navbar>
    <ion-title>Ask HR <ion-icon name="add" pull-right (click)="openModal()"></ion-icon></ion-title>
  </ion-navbar>

  <ion-segment [(ngModel)]="home">
    <ion-segment-button value="suggestion" class="segmenttitle">
      <span>Suggestions</span>
    </ion-segment-button>
    <ion-segment-button value="doubt" class="segmenttitle">
      <span>Doubts</span>
    </ion-segment-button>
    <ion-segment-button value="complaint" class="segmenttitle">
      <span>Complaints</span>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="background:transparent; padding-top: unset;    text-align: center;
  color: rgb(10, 9, 9);" [ngSwitch]="home">
  <!-- <ion-fab>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->

  <ion-row *ngSwitchCase="'suggestion'">
    <ion-col style="padding: unset;">
      <table style=" max-height: 32rem; overflow-y: scroll;">
        <thead>
          <th>ID</th>
          <th>Request Date</th>
          <th>Remark</th>
          <th>status</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of hr_request.suggestions">
            <td (click)="fetch_queries(item['id'],item['status'],item['status_by_userid'],'Suggestions')" style="color: #b7003a; cursor:pointer">
              AH_{{item['id']}}
            </td>
            <td>
              {{item['request_date']}}
            </td>
            <td>
                <!-- {{item['query_type']}} -->
              {{item['remark']?.substring(0, 10)}}...
            </td>
            <td>
              {{item['status']|titlecase}}
            </td>
          </tr>

        </tbody>
      </table>
    </ion-col>
  </ion-row>

  <ion-row *ngSwitchCase="'complaint'">
    <ion-col style="padding: unset;">
      <table style=" max-height: 32rem; overflow-y: scroll;">
        <thead>
          <th>ID</th>
          <th>Request Date</th>
          <th>Remark</th>
          <th>status</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of hr_request.complaints">
            <td (click)="fetch_queries(item['id'],item['status'],item['status_by_userid'],'Complaints')" style="color: #b7003a; cursor:pointer">
              AH_{{item['id']}}
            </td>
            <td>
              {{item['request_date']}}
            </td>
            <td>
                <!-- {{item['query_type']}} -->
              {{item['remark']?.substring(0, 10)}}...
            </td>
            <td>
              {{item['status']|titlecase}}
            </td>

          </tr>

        </tbody>
      </table>
    </ion-col>
  </ion-row>

  <ion-row *ngSwitchCase="'doubt'">
    <ion-col style="padding: unset;">
      <table style=" max-height: 32rem; overflow-y: scroll;">
        <thead>
          <th>ID</th>
          <th>Request Date</th>
          <th>Remark</th>
          <th>status</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of hr_request.doubts">
            <td (click)="fetch_queries(item['id'],item['status'],item['status_by_userid'],'Doubts')" style="color: #b7003a; cursor:pointer">
                {{item['id']}}
            </td>
            <td>
              {{item['request_date']}}
            </td>
            <td>
                <!-- {{item['query_type']}} -->
              {{item['remark']?.substring(0, 10)}}...
            </td>
            <td>
              {{item['status']|titlecase}}
            </td>

          </tr>

        </tbody>
      </table>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item *ngIf="hr_request==[]||hr_request==''||hr_request==null ; else show_list">
      No Record Found...!
    </ion-item>
  </ion-list>
  </ion-grid>
</ion-content>
