page-travel-approval {
  .header{
    top:12%;

  }
  .content{
    top:12%;
    height: 88%;
  }
  .foot_item {
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    text-transform: capitalize;
  }
  .head_item {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
  }
  .col{
    padding: 5px 5px 1px 5px;
  }
}
